<div class="main-content">
  <div class="container">
    <% @contacts.each do |contact| %>
    <table>
      <tr>
        <td>
          <%= contact.first_name %>
          <%= contact.last_name %>
          <%= contact.email %>
          <%= contact.phone_number %>
          <%= contact.description %>
          <%= contact.referral %>
        </td>
      </tr>
    </table>
    <% end %>
  </div>
</div>
